{% extends 'modal/baseroot.html' %}

{% block modal-id %} id="frontendModal" {% endblock modal-id %}

{% block modal-title %} Frontend {% endblock modal-title %}

{% block form-action %} action="{% url 'frontend' %}" {% endblock form-action %}

{% block id-name %} id='name' {% endblock id-name %}
{% block id-age %} id='age' {% endblock id-age %}
{% block id-email %} id='email' {% endblock id-email %}
{% block id-phone %} id='phone' {% endblock id-phone %}
{% block id-address %} id='address' {% endblock id-address %}
{% block id-experience %} id='experience' {% endblock id-experience %}
{% block id-file %} id='file' {% endblock id-file %}